<div class="friends-conteiner">
  <div class="add-friend-wrap">
      <input type="text"
      [(ngModel)]="friend"
      placeholder="Enter your friend name" 
      class="form-control add-friend-input">
      <button class="btn btn-default" (click)='addNewFriend()'>
        Add friend
      </button>
  </div>
  

  <div class="friend-not-found" [hidden]='friendExist'>Friend not found</div>
  <div [hidden]='!yourNameError'>You entered your name, please try something else...</div>
  <div [hidden]='!friendAlreadyInList'>You already add this user</div>

  Select friend
  <div class="friends-list">
    <div class="friend-wrap">
      <div *ngFor="let friend of userFriends" class="friend" (click)='selectFriend(friend)'>
        {{friend.name}}
      </div>
    </div>
  </div>
</div>