.chat-header{
    line-height: 40px;
}

.user-name{
    font-size: 20px;
    color: #9E9E9E;
}

.logout-link{
    padding-right: 15px;
    cursor: pointer; 
}

.friends{
    box-shadow: 0 0 5px 0 #999999;
    padding: 20px 10px;
}

.close-call-button{
    margin: 20px 0;
}
.send-button{
    margin-top: 20px;
}

.video-wrap{
    display: inline-block;
    border: 1px solid #999999;
    box-shadow: 0 0 5px 0 #999999;
    height: 480px;
    width: 640px;
    background: black;
}