<div>
    <div class="chat-header">
        <h1>My id {{peer.id}} </h1>
        <span> {{user.name}} </span><a (click)='logout()'> Logout</a>
    </div>

    <div class="chat-container">
        <div class="friends">
            <app-friends [user] = 'user'></app-friends>
        </div>    
        <input type="text" [(ngModel)]="anotherId">
        <button (click)="connect()">Connect</button>
        <button (click)="videoconnect()">VideoChat</button>
        <video #myvideo></video>
    </div>
</div>

